.GI_TW_expander .GI_TW_pointer:after, .GI_TW_expander .GI_TW_pointer:before {
	margin-right: -8px;
	margin-left:auto !important
}
.GI_TW_expander .GI_TW_pointer:before {
	margin-right: -14px;
	margin-left:auto !important
}
.panel-title:after, nav#mainnav {
	float:left !important;
}
/*.GITheWall ul li{margin:10px 20px 10px 0}*/
nav#mainnav ul,
.search-icon input,
nav#mainnav ul li,
.GITheWall ul li,
nav#mainnav .sf-mega-section {
	float:right !important;
}
.search-icon {
	border-right: 1px #d7d7d7 solid;
	border-left: 0px #d7d7d7 solid !important;
}
.sf-arrows ul .sf-with-ul:after {margin-right:auto !important; margin-left:-4px;}
.sf-arrows .sf-with-ul:after, .sf-arrows .submenu .sf-with-ul:after {right:auto !important; left:1em;}
nav#mainnav ul li div.sf-mega ul {
	padding-left:30px !important;
	padding-right:0;
}
nav#mainnav ul li ul.submenu li {
	float:none !important;
}
.m-offer .price {
	right: auto !important;
	left: 50px;
}
.breadcrumbs:before,
.breadcrumbs:after {
	content:'\f104' !important;
}
.forcefullwidth_wrapper_tp_banner {direction:rtl;}
.GI_TW_expander .GI_TW_arrow.GI_TW_next {right:auto !important; left:30px;}
.GI_TW_expander .GI_TW_arrow.GI_TW_prev {left:auto !important; right:30px;}
.GITheWall ul li span.inset h6{margin-top: -3px !important;}
/*Owl Carousel*/
.owl-carousel-1col .owl-dots{float:left;right:auto;left:100px;}
/*bootstrap overwrite*/
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-122{float:right;}
.col-lg-offset-6{margin-right:50%;}
/*invision remote overwrite*/
#inv-remote .firstbox{direction: ltr;}
#inv-remote .tooltiponoff {right: 199px;}
#inv-remote .tooltip {right: 76px;}
#inv-remote .gotodetails{line-height:16px;}
#inv-remote .threedright, #inv-remote .threedleft{line-height:20px;}
.GI_TW_expander .GI_TW_close {right:auto !important; left:20px !important; text-align: left;}
.bootstrap-select > .dropdown-toggle:before {left:auto !important; right:20px;}
.bootstrap-select.btn-group .dropdown-toggle .filter-option {text-align:right !important;}
.bootstrap-select > .dropdown-toggle {padding:15px 60px 10px 40px !important;}
.bootstrap-select.btn-group .dropdown-toggle .caret {right:auto !important; left:20px;}
.midselect > .dropdown-toggle {padding: 15px 25px 10px 40px !important;}

.sf-with-ul {
	padding-left: 41px !important;
}

@media(max-width: 768px) {

	.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12{
		width:100%;
	}

	header#header.navbar-fixed .top-links{opacity:1;display:block}
}