@font-face {
  font-family: 'fontello';
  src: url('../wps/wcm/connect/arabic/css/resources/a/4/a4028a46-6517-4367-b72a-5ffaf0ce10e7/fontellof82a.html?32120358');
  src: url('../wps/wcm/connect/arabic/css/resources/a/4/a4028a46-6517-4367-b72a-5ffaf0ce10e7/fontellof82a.html?32120358#iefix') format('embedded-opentype'),
       url('../wps/wcm/connect/arabic/css/resources/e/f/efa7887b-2000-4424-950a-140aa3793bd7/fontellof82a.html?32120358') format('woff2'),
       url('../wps/wcm/connect/arabic/css/resources/1/e/1ee9da35-ae09-40d5-85e7-7c36bdb7420a/fontellof82a.html?32120358') format('woff'),
       url('../wps/wcm/connect/arabic/css/resources/5/3/531c8e21-a61a-4d03-880c-f97fe649ee2f/fontellof82a.html?32120358') format('truetype'),
       url('../wps/wcm/connect/arabic/css/resources/1/1/11e283d6-a204-4a97-b740-979cbd76dd8c/fontellof82a.html?32120358#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('/wps/wcm/connect/arabic/css/resources/1/1/11e283d6-a204-4a97-b740-979cbd76dd8c/fontello.svg?32120358#fontello') format('svg');
  }
}
*/
 
@font-face {
  font-family: 'fontello';
  src: url('../wps/wcm/connect/arabic/css/resources/e/3/e3874a4b-fb57-4c5f-b880-fee61e471f33/fontellof82a.html?32120358');
  src: url('../wps/wcm/connect/arabic/css/resources/e/3/e3874a4b-fb57-4c5f-b880-fee61e471f33/fontellof82a.html?32120358#iefix') format('embedded-opentype'),
       url('../wps/wcm/connect/arabic/css/resources/3/a/3a511cbb-4aec-465a-aa9a-4aa4f25fc86f/fontellof82a.html?32120358') format('woff2'),
       url('../wps/wcm/connect/arabic/css/resources/6/6/6617e8a1-55fe-4010-a3ed-0e9270ee13e7/fontellof82a.html?32120358') format('woff'),
       url('../wps/wcm/connect/arabic/css/resources/e/9/e9ef01af-892c-447f-a126-22671988a596/fontellof82a.html?32120358') format('truetype'),
       url('../wps/wcm/connect/arabic/css/resources/0/6/06e9e2b7-f227-4b13-b7a2-ef91413d5c51/fontellof82a.html?32120358#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('/wps/wcm/connect/arabic/css/resources/0/6/06e9e2b7-f227-4b13-b7a2-ef91413d5c51/fontello.svg?32120358#fontello') format('svg');
  }
}
*/
 
 [class^="stc-icon-"]:before, [class*=" stc-icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
 /* width: 1em;*/
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.stc-icon-pin-outline:before { content: '\e800'; } /* '' */
.stc-icon-lock:before { content: '\e801'; } /* '' */
.stc-icon-videocam-outline:before { content: '\e802'; } /* '' */
.stc-icon-phone-outline:before { content: '\e803'; } /* '' */
.stc-icon-pause-outline:before { content: '\e804'; } /* '' */
.stc-icon-stop-outline:before { content: '\e805'; } /* '' */
.stc-icon-play-outline:before { content: '\e806'; } /* '' */
.stc-icon-fast-fw-outline:before { content: '\e807'; } /* '' */
.stc-icon-rewind-outline:before { content: '\e808'; } /* '' */
.stc-icon-credit-card:before { content: '\e809'; } /* '' */
.stc-icon-videocam:before { content: '\e80a'; } /* '' */
.stc-icon-lock-1:before { content: '\e80b'; } /* '' */
.stc-icon-graduation-cap:before { content: '\e80c'; } /* '' */
.stc-icon-user:before { content: '\e80d'; } /* '' */
.stc-icon-tag:before { content: '\e80e'; } /* '' */
.stc-icon-tags:before { content: '\e80f'; } /* '' */
.stc-icon-camera-outline:before { content: '\e810'; } /* '' */
.stc-icon-picture-outline:before { content: '\e811'; } /* '' */
.stc-icon-star:before { content: '\e812'; } /* '' */
.stc-icon-link-outline:before { content: '\e813'; } /* '' */
.stc-icon-lock-open:before { content: '\e814'; } /* '' */
.stc-icon-reply-outline:before { content: '\e815'; } /* '' */
.stc-icon-forward-outline:before { content: '\e816'; } /* '' */
.stc-icon-pencil:before { content: '\e817'; } /* '' */
.stc-icon-menu-outline:before { content: '\e818'; } /* '' */
.stc-icon-bat1:before { content: '\e819'; } /* '' */
.stc-icon-bat3:before { content: '\e81a'; } /* '' */
.stc-icon-chart-bar-outline:before { content: '\e81b'; } /* '' */
.stc-icon-chart-pie-outline:before { content: '\e81c'; } /* '' */
.stc-icon-infinity-outline:before { content: '\e81d'; } /* '' */

.stc-icon-certificate-outline:before { content: '\e81e'; } /* '' */
.stc-icon-thumbs-up:before { content: '\e81f'; } /* '' */
.stc-icon-mobile:before { content: '\e820'; } /* '' */
.stc-icon-export-outline:before { content: '\e821'; } /* '' */
.stc-icon-doc-text:before { content: '\e822'; } /* '' */
.stc-icon-record-outline:before { content: '\e823'; } /* '' */
.stc-icon-eject-alt-outline:before { content: '\e824'; } /* '' */
.stc-icon-puzzle-outline:before { content: '\e825'; } /* '' */
.stc-icon-globe-alt-outline:before { content: '\e826'; } /* '' */
.stc-icon-signal:before { content: '\e827'; } /* '' */
.stc-icon-heart:before { content: '\e828'; } /* '' */