


.viewport {
  position: relative;
}

.GITheWall .row {
  width: 80%;
  margin: 0 auto;
  *zoom: 1;
}
.GITheWall .row:before, .GITheWall .row:after {
  display: table;
  content: "";
  line-height: 0;
}
.GITheWall .row:after {
  clear: both;
}

pre {
  text-align: left;
}

.api {
  padding: 0;
  list-style: none;
}
.api p {
  margin: 0.1em;
}
.api pre {
  margin-bottom: 0.2em;
  margin-top: 1.5em;
}
.api ul {
  margin: 0.2em;
}
.api ul li {
  font-size: 0.8em;
}

.GITheWall ul {
  list-style: none;
  padding: 20px 0;
  margin: 0 auto;
  text-align: left;
  width: 100%;
  display:inline;
}
.GITheWall > ul > li {
  display: inline-block;
  margin: 10px 5px 0px;
  vertical-align: top;
  width: 243px;
  height:195px;
  background:#eaeaea;
  text-align:center;
  position:relative;
  cursor:pointer;
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  border-radius:6px;
}
.GITheWall ul li span.inset {
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  margin:auto;
  display:table;
  padding:20px;
  width:100%;
}
.GI_TW_Current:before {
  position:absolute;
  width:100%;
  height:100%;
  content:'';
  border:3px #d7427c solid;
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  border-radius:6px;
  left:0;
  top:0;
}
.GI_TW_Current .learnmore {display:none;}
.GITheWall ul li span.inset h2 {font-weight:bold; line-height:30px;}
.GITheWall ul li span.inset h6 {margin-top:-10px !important}
.GITheWall ul li span.inset .learnmore {margin:0 auto;}
.GITheWall ul li span.inset .description {display:none;}
.GITheWall ul li.GI_TW_Current span.inset .description {display: block;}
.GITheWall ul li.GI_TW_Selected_Row {
  -webkit-transition: margin-bottom 0.3s ease-in;
  -moz-transition: margin-bottom 0.3s ease-in;
  -o-transition: margin-bottom 0.3s ease-in;
  transition: margin-bottom 0.3s ease-in;
}
.GI_TW_expander {
  position: absolute;
  z-index: 1;
  top: 0;
  background: #f9f9f9;
  left: 0;
  width: 100%;
  margin-top: 10px;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.3s ease-in;
  -moz-transition: height 0.3s ease-in;
  -o-transition: height 0.3s ease-in;
  transition: height 0.3s ease-in;
  -webkit-box-shadow: inset 0px 0px 5px -2px #b5b5b5;
     -moz-box-shadow: inset 0px 0px 5px -2px #b5b5b5;
          box-shadow: inset 0px 0px 5px -2px #b5b5b5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.GI_TW_expander.animating {
  overflow: hidden !important;
}
.GI_TW_expander.opened {
  overflow: visible;
}
.GI_TW_expander .GI_TW_pointer {
  position: absolute;
  margin-left: 0px;
  margin-top: 0px;
  width: 0;
  height: 0;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-top: 14px solid #fff;
  -webkit-transition: left 0.3s ease-in;
  -moz-transition: left 0.3s ease-in;
  -o-transition: left 0.3s ease-in;
  transition: left 0.3s ease-in;
}
.GI_TW_expander .GI_TW_pointer:after, .GI_TW_expander .GI_TW_pointer:before {
  content:'';
  position:absolute;
  margin-left: -8px;
  margin-top: -12px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #d7427c;
  z-index:2;
}
.GI_TW_expander .GI_TW_pointer:before {
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-top: 14px solid rgba(0,0,0,0.1);
  margin-left: -14px;
  z-index:-1;
}
.GI_TW_expander .GI_TW_expander-inner {
  width: 90%;
  height: 560px;
  margin: 0 auto;
  overflow: hidden;
}
.GI_TW_expander .GI_TW_expander-inner .GI_TW_fullimg {
  position: relative;
  width: 100%;
  height: 580px;
  margin: 10px 0 0;
  text-align: center;
  overflow: hidden;
}
.GI_TW_expander .GI_TW_expander-inner .GI_TW_fullimg img {
  position: relative;
}
.GI_TW_expander .GI_TW_Controls {
  z-index: 1;
}
.GI_TW_expander .GI_TW_close {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.GI_TW_expander .GI_TW_arrow {
  position: absolute;
  top: 50%;
  cursor: pointer;
  font-size:40px;
  margin-top:-28px;
}
.GI_TW_expander .GI_TW_arrow.GI_TW_hidden {
  display: none;
}
.GI_TW_expander .GI_TW_arrow.GI_TW_next {
  right: 30px;
}
.GI_TW_expander .GI_TW_arrow.GI_TW_prev {
  left: 30px;
}
.GI_TW_expander .GI_TW_loading {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ddd;
  box-shadow: 0 0 1px #cccccc, 15px 30px 1px #cccccc, -15px 30px 1px #cccccc;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0;
  -webkit-animation: loader 0.5s infinite ease-in-out both;
  -moz-animation: loader 0.5s infinite ease-in-out both;
  -ms-animation: loader 0.5s infinite ease-in-out both;
  -o-animation: loader 0.5s infinite ease-in-out both;
  animation: loader 0.5s infinite ease-in-out both;
}

@-moz-keyframes loader {
  0% {
    background: #ddd;
  }

  33% {
    background: #ccc;
    box-shadow: 0 0 1px #cccccc, 15px 30px 1px #cccccc, -15px 30px 1px #dddddd;
  }

  66% {
    background: #ccc;
    box-shadow: 0 0 1px #cccccc, 15px 30px 1px #dddddd, -15px 30px 1px #cccccc;
  }
}

@-webkit-keyframes loader {
  0% {
    background: #ddd;
  }

  33% {
    background: #ccc;
    box-shadow: 0 0 1px #cccccc, 15px 30px 1px #cccccc, -15px 30px 1px #dddddd;
  }

  66% {
    background: #ccc;
    box-shadow: 0 0 1px #cccccc, 15px 30px 1px #dddddd, -15px 30px 1px #cccccc;
  }
}

@-o-keyframes loader {
  0% {
    background: #ddd;
  }

  33% {
    background: #ccc;
    box-shadow: 0 0 1px #cccccc, 15px 30px 1px #cccccc, -15px 30px 1px #dddddd;
  }

  66% {
    background: #ccc;
    box-shadow: 0 0 1px #cccccc, 15px 30px 1px #dddddd, -15px 30px 1px #cccccc;
  }
}

@-ms-keyframes loader {
  0% {
    background: #ddd;
  }

  33% {
    background: #ccc;
    box-shadow: 0 0 1px #cccccc, 15px 30px 1px #cccccc, -15px 30px 1px #dddddd;
  }

  66% {
    background: #ccc;
    box-shadow: 0 0 1px #cccccc, 15px 30px 1px #dddddd, -15px 30px 1px #cccccc;
  }
}

@keyframes loader {
  0% {
    background: #ddd;
  }

  33% {
    background: #ccc;
    box-shadow: 0 0 1px #cccccc, 15px 30px 1px #cccccc, -15px 30px 1px #dddddd;
  }

  66% {
    background: #ccc;
    box-shadow: 0 0 1px #cccccc, 15px 30px 1px #dddddd, -15px 30px 1px #cccccc;
  }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.tac {
  text-align: center;
}

.tal {
  text-align: left;
}

.tar {
  text-align: right;
}

.clear-both {
  clear: both;
}

.clear-left {
  clear: left;
}

.clear-right {
  clear: right;
}

.GITheWall ul li.inmix, .GITheWall ul li.inmix-2, .GITheWall ul li.mix, .services_filter li.mix{
    display: none;
}

.GITheWall .GI_TW_expander .specs li {
  height: auto !important;
  background: none !important;
  border-radius: 0 !important;
  margin: 3px  0 !important;
  width: 100% !important;
}

.GITheWall {
  overflow: hidden;
  position: relative;
}