.fa-bars {
    display: none;
}
.col-md-12.gi-img-container.text-center img {
	width:auto;
} 
.pattern_gradient.roaming-header {
    overflow: visible !important;
}

img.mobile {
    display: none !important;
}
.gi-img-container {height:320px;}
.gi-img-container img {width:100%;}
.gi-img-container.app-img {height:360px;}
.gi-img-container.app-img img {width:150px;}

@media(max-width: 992px) {
.package_details ul li {
	height: auto !important;
}

span.x .helpsupport img, 
span.x .mystc-block img {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:-1;
}

footer#footer .footermenu .footersocial {width:100% !important}
.owl-carousel .owl-item img {width:100% !important;}
.owl-carousel-4col .postdisc {margin-top:60px !important; margin-bottom:0 !important;}
.invision-2nd-bg {
    	height: auto;
    	background-size: cover;
}

.offer-list {
   	padding:0 10px;
}

.special_tr .container {
	padding: 60px 30px;
}

    #content {
        padding-bottom: 410px;
        padding-top: 0;
    }
    footer#footer {
        padding: 25px 0 !important;
    }
    /***** header *****/
    .top-menu {
        width: 100% !important;
    }
    .top-menu ul li > ul {
        width: 100% !important;
        left: 0;
        right: auto !important;
    }
    .top-menu > ul > li {
        width: 50% !important;
        position: inherit !important;
    }
    header#header .top-links .top-buttons .language,
    header#header .top-links .top-buttons .mystc {
        height: 55px !important;
    }
    header#header .top-links .top-buttons .mystc {
        width: 44px !important;
        line-height: 60px;
        overflow: hidden;
    }
    header#header .top-links .top-buttons .language {
        line-height: 57px;
        width: auto;
        padding: 0 5px 0 10px;
        position: static;
    }
    header#header .top-links .top-buttons .mystc span.circle {
        width: 24px !important;
        height: 24px !important;
        right: 0 !important;
        top: 6px !important;
    }
    header#header .top-links .top-buttons .language,
    header#header .top-links .top-buttons .mystc {
        background-color: transparent !important;
    }
    header#header .top-links .top-buttons .language ul {
        width: 100%;
        top: 93px;
    }
    header#header .top-links .top-menu > ul > li:first-child {
        border-right: 0 !important;
    }
    header#header .top-links .top-menu > ul > li:last-child {
        border-left: 0 !important;
    }
    header#header .logo {
        height: auto !important;
        width: 110px;
    }
    header#header .logo img {
        height: auto !important;
        width: 100%;
        margin-right: 10px;
    }
    .fa-bars {
        display: block;
        float: left;
        height: 55px;
        line-height: 52px;
        width: 44px;
        text-align: center;
        font-size: 18px;
    }
    nav {
        background: #fff;
        width: 100% !important;
        height: auto !important;
        display: none;
        border-top: 1px #eee solid;
        position: absolute;
        top: 92px;
        border-bottom: 2px #eee solid;
        -webkit-box-shadow: 0 4px 24px -4px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 0 4px 24px -4px rgba(0, 0, 0, 0.4);
        box-shadow: 0 4px 24px -4px rgba(0, 0, 0, 0.4);
    }
    nav ul li {
        width: 100% !important;
    }
    .top-site-search,
    .top-site-search span {
        width: 100% !important;
        position: relative;
        border-right: 0 !important;
    }
    .top-site-search span i {
        position: absolute;
        left: 0;
        top: 0;
    }
    .search-icon input {
        display: block !important;
        width: 100% !important;
        top: 0;
        height: 60px;
        background-color: #fafafa;
        border-bottom: 1px #eee solid;
    }
    nav#mainnav ul li div.sf-mega {
        position: relative !important;
        padding: 0 0 10px 0;
        margin-top: -10px;
    }
    nav#mainnav .sf-mega-section {
        border: 0;
        border-top: 1px #eee dotted !important;
        padding: 5px 0 !important;
    }
    nav#mainnav ul li div.sf-mega,
    nav#mainnav ul li div.sf-mega .sf-mega-section,
    nav#mainnav ul li div.sf-mega ul li {
        background-color: transparent;
        width: 100%;
    }
    nav#mainnav ul li div.sf-mega ul li:first-child {
        display: block !important;
    }
    nav#mainnav ul li div.sf-mega ul li {
        display: none;
    }
    nav#mainnav ul li div.sf-mega ul li.innerlink a {
        font-size: 14px !important;
        padding: 5px;
    }
    nav#mainnav ul li div.sf-mega ul li a {
        font-size: 16px !important;
    }
    nav#mainnav ul li div.sf-mega .menu-offers {
        display: none !important;
    }
    nav#mainnav > ul > li {
        border-top: 1px #eee solid;
    }
    nav#mainnav > ul > li:first-child {
        border-top: 0px #eee solid !important;
    }
    .search-icon:hover:after {
        display: none !important;
    }
    .hassub {
        position: relative;
    }
    .hassub:after {
        font: normal normal normal 14px/1 FontAwesome;
        content: "\f107";
        width: 60px;
        height: 60px;
        line-height: 60px;
        left: 0;
        top: 0;
        font-size: 26px;
        position: absolute;
        text-align: center;
    }
    nav#mainnav .sf-mega ul {
        padding: 0 !important;
    }
    nav#mainnav .sf-mega ul.hassub:after {
        font-size: 18px;
        width: 60px;
        height: 30px;
        line-height: 30px;
    }
    nav#mainnav ul li ul.submenu li {
        padding-right: 30px;
    }
    .sf-mega-section:first-of-type {
        border-top: 0px #eee dotted !important;
    }
    .single {
        width: 100%;
        margin-top: 10px;
    }
    .mobile-menu-links {
        width: 80%;
        margin: 0 auto 20px;
        float: none;
        display: table;
    }
    .mobile-menu-links li {
        text-align: center;
        line-height: 35px !important;
        border-top: 1px #eee solid;
    }
    .mobile-menu-links li:first-child {
        border: 0 !important;
    }
    .mobile-menu-links li a {
        font-size: 12px !important;
    }
    /**** slider ****/
    .owl-slider {
        margin-bottom: 40px;
    }
    .owl-slider .bigtitle {
        line-height: 10px;
    }
    .owl-slider .desc {
        float: none !important;
        margin: 0 auto;
        font-size: 50%;
        text-align: center;
        top: 280px !important;
        width: 100% !important;
    }
    .owl-slider .container .desc h1 {
        margin: 0 !important;
        line-height: 34px !important;
        font-size: 28px !important;
    }
    .owl-slider .owl-nav {
        display: none;
    }
    .owl-slider .owl-dots {
        margin-top: -30px !important;
    }
    .slider-links {
        margin: -10px auto 0;
        display: table;
    }
    /**** tabs ****/
    h2.floated_right.tabstitle {
        padding-right: 20px !important;
    }
    .nav-tabs {
        margin: 0 auto !important;
        display: table;
        clear: both;
        float: none;
        z-index: 99;
        text-align: center;
    }
    .nav-tabs li {
        font-family: 'Conv_STC-Regular';
        color: #ffffff;
        text-transform: uppercase;
        font-size: 14px !important;
        width: auto;
        padding: 3px 13px 0px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        float: none;
        position: relative;
        line-height: normal !important;
        outline: none;
        border: 0;
        -webkit-transition: box-shadow .2s ease-in-out;
        -o-transition: box-shadow .2s ease-in-out;
        transition: box-shadow .2s ease-in-out;
        -webkit-border-radius: 35px;
        -moz-border-radius: 35px;
        border-radius: 35px;
        cursor: pointer;
        background: #703081;
        margin: 0 2px 2px !important;
    }
    .nav-tabs li a {
        border: 0 !important;
        color: #fff !important;
        padding: 0;
        font-size: 14px !important;
    }
    .row {
        position: relative;
    }
    .showmore {
        margin-top: 0 !important;
        margin-left: 10px;
        top: -15px;
        left: 0;
        position: absolute !important;
        font-size: 12px !important;
        text-transform: uppercase;
    }
    .tab-content {
        margin-top: 0;
    }
    .owl-carousel .owl-controls .owl-nav .owl-prev,
    .owl-carousel .owl-controls .owl-nav .owl-next {
        width: 30px !important;
        background-color: transparent;
        left: 10px !important;
    }
    .owl-carousel .owl-controls .owl-nav .owl-next {
        right: 10px !important;
        left: auto !important;
    }
    .tabsdevices .note {
        float: none;
        margin-top: -65px;
        text-align: center;
        font-size: 12px;
    }
    .col-lg-6 {
        margin-bottom: 10px;
    }
    .purpleoverly.x .mystc-block h1 {
        line-height: 50px;
    }
    span.x .helpsupport,
    span.x .mystc-block {
        padding: 10px !important;
    }
    span.x .helpsupport .curved-search input[type="search"] {
        width: 100%;
    }
    span.x .helpsupport h1,
    span.x .mystc-block h1,
    .purpleoverly.x .mystc-block h1 {
        line-height: 35px;
        margin-bottom: 0 !important;
        font-size: 250% !important;
        width: 100%;
    }
    .floated_left.mystc-block-2 {
        width: 50%;
    }
    .owl-carousel-1col .container .desc {
        width: 100%;
        padding: 0 20px;
    }
    .owl-item {
        border-left: 0 !important;
    }
    /**** footer ****/
    footer#footer {
        height: 400px !important;
    }
    footer#footer .footermenu {
        margin-bottom: 10px !important;
    }
    .footermenu ul li:first-child {
        display: block !important;
    }
    .footermenu {
        width: 70%;
        margin: 0 auto;
        display: table !important;
    }
    .footermenu ul {
        float: none !important;
        width: 100% !important;
        margin-left: 0 !important;
        border-top: 1px #e5e5e5 solid;
        padding-top: 10px;
        margin-bottom: 10px;
    }
    .footermenu ul:first-of-type {
        border-top: 0px #e5e5e5 solid;
    }
    .footermenu ul:last-of-type {
        text-align: center;
    }
    #footer .footermenu ul:last-of-type li:first-child {
        width: 100% !important;
        margin: 0 !important;
    }
    #footer .footermenu ul:last-of-type li {
        display: inline-block !important;
        float: none !important;
        margin: 5px 0 !important;
    }
    .footermenu ul li {
        display: none !important;
        width: 100%;
        text-align: center;
        float: none;
    }
    .footerbottomlinks div.floated_right {
        float: none !important;
        width: 60%;
        margin: 0 auto;
        display: table !Important;
        text-align: center;
    }
    .footerbottomlinks > div:first-of-type {
        display: none !important;
    }
    .footerbottomlinks div.floated_left a,
    .footerbottomlinks div.floated_left b {
        display: inline-block;
        float: none !important;
        line-height: 20px !important;
    }
    /*** inner pages ****/
    .breadcrumbs {
        display: none;
    }
    .top-inner-container .submenu {
        margin-top: 0 !important;
        padding: 0 20px;
    }
    .top-inner-container .submenu ul {
        border: 0 !important;
        margin-top: 10px;
    }
    .top-inner-container .submenu ul li:after {
        float: left !important;
    }
    .col-lg-6.page_banner_img {
        display: none;
    }
    .pattern_gradient {
        position: relative;
        display: table;
        padding: 30px;
    }
    .pattern_gradient .container {
        display: table-row;
        height: 100%;
        width: 100%;
    }
    .col-lg-6.page_banner_title {
        width: 100%;
        display: table-cell;
        position: relative !important;
        vertical-align: middle;
        padding: 0 20px;
    }
    .col-lg-6.page_banner_title img {
        width: 100%;
    }
    .listcontainer {
        margin-bottom: 40px;
        border-bottom: 1px #eee solid;
        padding-bottom: 40px !important;
    }
    .about-tables {
        border: 0;
    }
    .listcontainer.social_links {
        min-height: 300px;
    }
    .puplication_img img {
        max-height: 135px;
        float: right;
    }
    .GI_TW_expander-inner center img {width:100%; height:auto;}
    .mystc-block-1,
    .mystc-block-2 {
        width: 100% !important;
    }
    .mystc-block-2 .circle.lightpurplebg {
        width: 90px;
        height: 90px;
        line-height: 100px;
        margin: 0 auto 10px;
    }
    span.x .mystc-block ul li {
        padding: 5px !important;
    }
    .col-lg-4.multimedia_img {
        overflow: hidden;
    }
    .graybg.bus_packages {
        margin-bottom: 10px;
    }
    .tab-content.tabdevices {
        display: inline-block;
        width: 100%;
    }
    #plans_tabs li a,
    #myTabs li a,
    #devices_tabs li a,
    #solution_tabs li a {
        border-bottom: 0 !important;
    }
    .tabsdevices.margin-separator {
        position: relative;
        margin-bottom: 30px !important;
    }
    .owl-carousel-1col {
        display: none !important;
    }
    .col-lg-6.page_banner_title h1 {
        line-height: 40px;
    }
    .col-lg-4 .blakleoverly {
        margin-bottom: 10px;
    }
    .contact_search,
    .curved-search.large input[type="search"] {
        width: 100% !important;
    }
    .round_box {
        margin-bottom: 10px;
        height: auto;
        display: table;
        width: 100%;
        text-align: center;
    }
    .round_box .learnmore {
        margin: 0 auto !important;
        float: none !important;
    }
    .social_links .col-lg-2 {
        width: 50%;
        float: right;
    }
    .faqs-box {
        width: 96%;
        margin: 0 auto 10px !important;
    }
    .iconslist li {
        width: 100% !important;
    }
    .block-container .col-2,
    .services_filter h2,
    .pattern-search .container .curved-search,
    iframe {
        width: 100% !important;
    }
    .GITheWall {
        padding: 0 10px;
    }
    .GITheWall ul li {
        height:auto;
        width: 100% !important;
        
    }
    .GITheWall ul li span.inset {
      position: relative;
     }

    .qitaf_other .learnmore {
        position: relative;
        right: auto !important;
        bottom: auto !important;
    }
    .bordered .listcontainer {
        border-right: 0 !important;
    }
    .bootstrap-select > .dropdown-toggle,
    .bootstrap-select > .dropdown-toggle:before {
        font-size: 14px;
    }
    .bootstrap-select > .dropdown-toggle {
        padding: 15px 40px 10px 45px;
    }
    .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
        width: 100% !important;
    }
    .bootstrap-select.btn-group .dropdown-toggle .caret {
        border-width: 7px !important;
    }
    .intb p {
        margin-bottom: 10px;
    }
    #roaming .iconslist {
        width: 100% !important;
    }
    #roaming .iconslist li {
        width: 100% !important;
    }
    .bottom-margin-50 {
        padding: 0 !important;
    }
    .services_filter {
        padding: 0 0px 20px !important;
    }
    .services_filter li {
        margin-bottom: 10px !important;
    }
    .heading-margin {
        margin: 0 !important;
    }
    .pattern_gradient.roaming-header {
        height: auto !important;
    }
    .tableoverflow {
        overflow: scroll;
    }
    .roaming-header .page_banner_title {
        position: relative !important;
    }
    .roaming-services-list ul {
        height: auto !important;
        margin-bottom: 70px !important;
    }
    .devices_list_cont.bordered .listcontainer {
        width: 100%;
        border-left: 0;
        border-bottom: 1px #eee solid;
    }
    .devices_list_cont.bordered .listcontainer .device_details .learnmore {
        opacity: 1 !important;
    }
    #roaming table,
    .specs {
        width: 100%;
    }
    #countrylist {
        display: inline-block;
        overflow: hidden;
    }
    .table-s1,
    .table-s2,
    .table-s3,
    .table-s4 {
        overflow: scroll;
        position: relative;
    }
    .roaming-services-list {
        padding: 0 10px;
    }
    .roaming-services-list ul li {
        width: 100%;
        margin: 10px 0 40px !important;
    }
    .scrolltable-icon {
        padding: 15px 0;
        text-align: center;
    }
    .scrolltable-icon i {
        margin: 0 2px;
    }
    .submenu span {
        max-width: 100%;
    }
    .showcase {
        width: 100%;
        margin-top: 10px;
    }
    #stc-showcase {
        height: 460px !important;
    }
    .showcase .tp-bgimg,
    .gyges .tp-thumb-image {
        background-size: contain !important;
    }
    .tp-thumbs,
    .tp-thumb-mask,
    .tp-thumbs-inner-wrapper,
    .tp-thumb-mask {
        width: 100% !important;
        max-width: 100% !important;
        height: 100px !important;
        max-height: 100px !important;
    }
    .tp-thumbs-inner-wrapper,
    .tp-thumbs {
        top: auto !important;
        bottom: 0;
        width: 98% !important;
    }
    .gyges .tp-thumb {
        top: 0 !important;
        width: 25% !important;
        position: relative !important;
        float: right;
    }
    .showcase .rev_slider_wrapper {
        min-height: 460px !important;
        height: 500px !important;
    }
    .showcase .tp-thumb-mask {
        min-height: 100px !important;
        height: 100px !important;
    }
    .showcase .tp-bgimg {
        height: 75% !important;
    }
    .gyges .tp-thumb {
        border-top: 0 !important;
        border-right: 1px #eee solid !important;
    }
    .gyges .tp-thumb:first-child {
        border: 0 !important;
    }
    .productdetails,
    .plans_ditaels_container {
        width: 100% !important;
        padding: 0 20px;
    }
    .width_60,
    .width_40,
    .plans_table_ditaels ul {
        width: 100% !important;
        margin: 0 0 10px !important;
        height: auto;
    }
    .width_60 .learnmore {
        margin: 0 auto 40px;
    }
    .avilable-colors,
    .avilable-storage {
        float: none;
        margin: 0 auto 10px;
        display: table;
    }
    img.mobile {
        display: block !important;
    }
    img.desktop {
        display: none !important;
    }
    .top-menu > ul > li:nth-child(2) > a {
        pointer-events: none;
    }
        .language i.fa.fa-globe {
        left: auto !important;
        margin: 14px 0 0 !important;
        position: relative !important;
        float: right;
        display: none;
    }

    .owl-slider .container .desc.left {
        left: 0 !important;
    }
    .owl-controls {
        margin-top: 30px;
    }
    .slider-links {
        margin-top: 10px !important;
        position: relative;
    }
    .scrolltable {
        width: 100%;
        overflow: scroll;
        position: relative;
    }
    .scrolltable table {
       
        top: 0px;
        left: -100%;
    }
    .owl-slider .container .desc.right {
        right: 0;
        /*margin-top: 0px;
        padding:0 20px;
        top:0 !important;*/
    }
    .owl-slider .container .desc.left {
        left: 0;
        /*margin-top: 0px;
        padding:0 20px;
        top:0 !important;*/
    }

    .owl-slider .owl-item {
        /*padding-bottom: 50px;*/
    }
    header#header {
        position: fixed;
        width: 100%;
        background: #fff;
        top: 0;
    }
    #wrapper {
        padding-top: 98px;
    }
    nav#mainnav {
        overflow: auto;
        height: 75vh !important;
    }
    .GITheWall {
        overflow: visible;
        z-index: 991;
    }
    .owl-item {border:0;}
    .feedback {
        transform: translate3d(0px, 90%, 0px) !important;
        left: 0;
        display: none !important;
    }
    .feedback .feedback-container {
        display: none;
    }
    .owl-slider .owl-controls {
        display: table;
        width: 100%;
        text-align: center;
        bottom: -20px;
        position: relative;
    }
    .owl-carousel .owl-item img {
        height:auto;
    }
    .owl-slider .container {
        /*top:250px;*/
    }
	.gi-img-container {height:auto !important;}
/*New Postpaid packages design */
.new_packages .pattern_gradient{display:none;}
.package_cont_new {display: inline-block;width: 34%;vertical-align: top;margin: 0 5px 4px;}
.package_cont_new img{width:100%;height: auto;}
.package_bg .package_keyfeatures{
   vertical-align: top;
   display: inline-block;
   width: 61%;
   padding-bottom: 0;
   margin-top: 38px;
   text-align: initial;
}
 header#header .top-links .top-buttons .language {
        width: 63px;
        overflow: hidden;
    }

.new_packages .circle{
   background: transparent;
   text-shadow: none !important;
}
.new_packages .circle i{
   font-size: 21px;
   color: #7a3f8a;
   margin-top: 3px;
}
.new_packages .circle i:before{/* content:'' */}
.package_bg .buttons_holder {display:block;}
.package_details ul li {padding: 15px 10px;}
.new_packages .package_details p.maintitle {margin-bottom: 6px;}

.block-container {
		width:100%;
		display:inline-block;
		overflow:hidden;
	}
.showcase,
.tp-carousel-wrapper,
.tp-revslider-slidesli,
.tp-revslider-mainul  {
    width:100% !important;
}
.filter-border li {
    background-color:transparent;
    height: 37px !important;
}
.filter-border li a {
    color:#703081 !important;
}
.col-lg-6,
.col-md-6,
.GITheWall,
.col-2  {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

div#wrapper {
    overflow: hidden;
}

#content {
    padding-left: 20px;
    padding-right: 20px;
}
.bottom-margin-50 {
    margin-bottom:20px;
}
.parallax-wrapper {
    margin-left:-20px;
    margin-right:-20px;
    width:auto;
}
.parallax {
    padding:40px;
    background-position:center center !important;
}
.parallax .bigtitle {
    font-size:35px;
}
.parallax h2 {
    font-size:18px !important;
}
.margin-separator {
    margin-bottom: 0;
}
.owl-carousel-4col span.circle.pinkbg.price {
    left: 80px;
}
.GITheWall > ul > li {
    margin-left:0;
    margin-right:0;
}

#myTabs.filter-border li.active a,
#myTabs.filter-border li:hover a {
    border-bottom: 7px #703081 solid !important
}

span.x {
    min-height: 300px !important;
}

html[lang="ar-SA"] .slider,
html[lang="en-SA"] .owl-slider {
    margin-left: -20px;
    margin-right: -20px;
    overflow: hidden;
}
html[lang="en-SA"] .owl-slider {
    width:auto !important
}
.owl-slider .owl-dots {
    margin-top: -70px !important;
    z-index: 9991;
    position: absolute;
    margin: auto;
    text-align: center;
    width: 100%;
}
.owl-slider .owl-controls {
    display:block;
}

.desc {
    padding-left: 20px;
    padding-right: 20px;
}
.GI_TW_expander .GI_TW_expander-inner {
    width:100% !important;
}

html[lang="en-SA"] .GI_TW_expander .GI_TW_arrow.GI_TW_next {right:5px !important;}
html[lang="en-SA"] .GI_TW_expander .GI_TW_arrow.GI_TW_prev {left:5px !important;}

html[lang="ar-SA"] .GI_TW_expander .GI_TW_arrow.GI_TW_next {right:auto !important; left:5px;}
html[lang="ar-SA"] .GI_TW_expander .GI_TW_arrow.GI_TW_prev {left:auto !important; right:5px;} 

.floated_right.mystc-block-2 > span {
    display: none;
}
/*sawa main page slides*/
.r__blocks ul.main_list li {
    border: none !important;
    width: 50% !important;
    height: 100px !important;
    margin: 0 !important;
    text-align:center;
}
.r__blocks ul.main_list li span {
    padding:0 10px !important;
}
.r__blocks ul.main_list li span img {
    width:100%;
}

.sawa_packages .title-panel {display:none}
.sawa_packages .maintitle {display:block}

#fiber_jawwy .r__blocks ul.main_list li {
    height: 250px !important;
    
}
.fa-bars {
    display: none;
}
.col-md-12.gi-img-container.text-center img {
	width:auto;
} 
.pattern_gradient.roaming-header {
    overflow: visible !important;
}

img.mobile {
    display: none !important;
}
.gi-img-container {height:320px;}
.gi-img-container img {width:100%;}
.gi-img-container.app-img {height:360px;}
.gi-img-container.app-img img {width:150px;}

@media(max-width: 992px) {
footer#footer .footermenu .footersocial {width:100% !important}
.package_details ul li {
	height: auto !important;
}

.invision-2nd-bg {
    	height: auto;
    	background-size: cover;
}

.offer-list {
   	padding:0 10px;
}

.special_tr .container {
	padding: 60px 30px;
}

.owl-carousel .owl-item img {width:100% !important;}
.owl-carousel-4col .postdisc {margin-top:60px !important; margin-bottom:0 !important;}

    #content {
        padding-bottom: 410px;
        padding-top: 0;
    }
    footer#footer {
        padding: 25px 0 !important;
    }
    /***** header *****/
    .top-menu {
        width: 100% !important;
    }
    .top-menu ul li > ul {
        width: 100% !important;
        right: 0;
        left: auto !important;
    }
    .top-menu > ul > li {
        width: 50% !important;
        position: inherit !important;
    }
    header#header .top-links .top-buttons .language,
    header#header .top-links .top-buttons .mystc {
        height: 55px !important;
    }
    header#header .top-links .top-buttons .mystc {
        width: 44px !important;
        line-height: 60px;
        overflow: hidden;
    }
    header#header .top-links .top-buttons .language {
        line-height: 57px;
        width: auto;
        padding: 0 5px 0 10px;
        position: static;
    }
    header#header .top-links .top-buttons .mystc span.circle {
        width: 24px !important;
        height: 24px !important;
        left: 0 !important;
        top: 6px !important;
    }
    header#header .top-links .top-buttons .language,
    header#header .top-links .top-buttons .mystc {
        background-color: transparent !important;
    }
    header#header .top-links .top-buttons .language ul {
        width: 100%;
        top: 93px;
    }
    header#header .top-links .top-menu > ul > li:first-child {
        border-left: 0 !important;
    }
    header#header .top-links .top-menu > ul > li:last-child {
        border-right: 0 !important;
    }
    header#header .logo {
        height: auto !important;
        width: 110px;
    }
    header#header .logo img {
        height: auto !important;
        width: 100%;
        margin-left: 10px;
    }
    .fa-bars {
        display: block;
        float: right;
        height: 55px;
        line-height: 52px;
        width: 44px;
        text-align: center;
        font-size: 18px;
    }
    nav {
        background: #fff;
        width: 100% !important;
        height: auto !important;
        display: none;
        border-top: 1px #eee solid;
        position: absolute;
        top: 92px;
        border-bottom: 2px #eee solid;
        -webkit-box-shadow: 0 4px 24px -4px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 0 4px 24px -4px rgba(0, 0, 0, 0.4);
        box-shadow: 0 4px 24px -4px rgba(0, 0, 0, 0.4);
    }
    nav ul li {
        width: 100% !important;
    }
    .top-site-search,
    .top-site-search span {
        width: 100% !important;
        position: relative;
        border-left: 0 !important;
    }
    .top-site-search span i {
        position: absolute;
        left: 0;
        top: 0;
    }
    .search-icon input {
        display: block !important;
        width: 100% !important;
        top: 0;
        height: 60px;
        background-color: #fafafa;
        border-bottom: 1px #eee solid;
    }
    nav#mainnav ul li div.sf-mega {
        position: relative !important;
        padding: 0 0 10px 0;
        margin-top: -10px;
    }
    nav#mainnav .sf-mega-section {
        border: 0;
        border-top: 1px #eee dotted !important;
        padding: 5px 0 !important;
    }
    nav#mainnav ul li div.sf-mega,
    nav#mainnav ul li div.sf-mega .sf-mega-section,
    nav#mainnav ul li div.sf-mega ul li {
        background-color: transparent;
        width: 100%;
    }
    nav#mainnav ul li div.sf-mega ul li:first-child {
        display: block !important;
    }
    nav#mainnav ul li div.sf-mega ul li {
        display: none;
    }
    nav#mainnav ul li div.sf-mega ul li.innerlink a {
        font-size: 14px !important;
        padding: 5px;
    }
    nav#mainnav ul li div.sf-mega ul li a {
        font-size: 16px !important;
    }
    nav#mainnav ul li div.sf-mega .menu-offers {
        display: none !important;
    }
    nav#mainnav > ul > li {
        border-top: 1px #eee solid;
    }
    nav#mainnav > ul > li:first-child {
        border-top: 0px #eee solid !important;
    }
    .search-icon:hover:after {
        display: none !important;
    }
    .hassub {
        position: relative;
    }
    .hassub:after {
        font: normal normal normal 14px/1 FontAwesome;
        content: "\f107";
        width: 60px;
        height: 60px;
        line-height: 60px;
        left: 0;
        top: 0;
        font-size: 26px;
        position: absolute;
        text-align: center;
    }
    nav#mainnav .sf-mega ul {
        padding: 0 !important;
    }
    nav#mainnav .sf-mega ul.hassub:after {
        font-size: 18px;
        width: 60px;
        height: 30px;
        line-height: 30px;
    }
    nav#mainnav ul li ul.submenu li {
        padding-left: 30px;
    }
    .sf-mega-section:first-of-type {
        border-top: 0px #eee dotted !important;
    }
    .single {
        width: 100%;
        margin-top: 10px;
    }
    .mobile-menu-links {
        width: 80%;
        margin: 0 auto 20px;
        float: none;
        display: table;
    }
    .mobile-menu-links li {
        text-align: center;
        line-height: 35px !important;
        border-top: 1px #eee solid;
    }
    .mobile-menu-links li:first-child {
        border: 0 !important;
    }
    .mobile-menu-links li a {
        font-size: 12px !important;
    }
    /**** slider ****/
    .owl-slider {
        margin-bottom: 40px;
    }
    .owl-slider .bigtitle {
        line-height: 10px;
    }
    .owl-slider .desc {
        float: none !important;
        margin: 0 auto;
        font-size: 50%;
        text-align: center;
        top: 280px !important;
        width: 100% !important;
    }
    .owl-slider .container .desc h1 {
        margin: 0 !important;
    }
    .owl-slider .owl-nav {
        display: none;
    }
    .owl-slider .owl-dots {
        margin-top: -30px !important;
    }
    .slider-links {
        margin: -10px auto 0;
        display: table;
    }
    /**** tabs ****/
    h2.floated_left.tabstitle {
        padding-left: 20px !important;
    }
    .nav-tabs {
        margin: 0 auto !important;
        display: table;
        clear: both;
        float: none;
        z-index: 99;
        text-align: center;
    }
    .nav-tabs li {
        font-family: 'Conv_STC-Regular';
        color: #ffffff;
        text-transform: uppercase;
        font-size: 14px !important;
        width: auto;
        padding: 3px 13px 0px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        float: none;
        position: relative;
        line-height: normal !important;
        outline: none;
        border: 0;
        -webkit-transition: box-shadow .2s ease-in-out;
        -o-transition: box-shadow .2s ease-in-out;
        transition: box-shadow .2s ease-in-out;
        -webkit-border-radius: 35px;
        -moz-border-radius: 35px;
        border-radius: 35px;
        cursor: pointer;
        background: #703081;
        margin: 0 2px 2px !important;
    }
    .nav-tabs li a {
        border: 0 !important;
        color: #fff !important;
        padding: 0;
        font-size: 14px !important;
    }
    .row {
        position: relative;
    }
    .showmore {
        margin-top: 0 !important;
        margin-right: 10px;
        top: -15px;
        right: 0;
        position: absolute !important;
        font-size: 12px !important;
        text-transform: uppercase;
    }
    .tab-content {
        margin-top: 0;
    }
    .owl-carousel .owl-controls .owl-nav .owl-prev,
    .owl-carousel .owl-controls .owl-nav .owl-next {
        width: 30px !important;
        background-color: transparent;
       /* right: 10px !important;*/
    }
    .owl-carousel .owl-controls .owl-nav .owl-next {
        /*left: 10px !important;
        right: auto !important;*/
    }
    .tabsdevices .note {
        float: none;
        margin-top: -65px;
        text-align: center;
        font-size: 12px;
    }
    .col-lg-6 {
        margin-bottom: 10px;
    }
    .purpleoverly.x .mystc-block h1 {
        line-height: 50px;
    }
    span.x .helpsupport,
    span.x .mystc-block {
        padding: 10px !important;
    }
    span.x .helpsupport .curved-search input[type="search"] {
        width: 100%;
    }
    span.x .helpsupport h1,
    span.x .mystc-block h1,
    .purpleoverly.x .mystc-block h1 {
        line-height: 35px;
        margin-bottom: 0 !important;
        font-size: 250% !important;
        width: 100%;
    }
    .floated_right.mystc-block-2 {
        width: 50%;
    }
    .owl-carousel-1col .container .desc {
        width: 100%;
        padding: 0 20px;
    }
    .owl-item {
        border-right: 0 !important;
    }
    /**** footer ****/
    footer#footer {
        height: 400px !important;
    }
    footer#footer .footermenu {
        margin-bottom: 10px !important;
    }
    .footermenu ul li:first-child {
        display: block !important;
    }
    .footermenu {
        width: 70%;
        margin: 0 auto;
        display: table !important;
    }
    .footermenu ul {
        float: none !important;
        width: 100% !important;
        margin-right: 0 !important;
        border-top: 1px #e5e5e5 solid;
        padding-top: 10px;
        margin-bottom: 10px;
    }
    .footermenu ul:first-of-type {
        border-top: 0px #e5e5e5 solid;
    }
    .footermenu ul:last-of-type {
        text-align: center;
    }
    #footer .footermenu ul:last-of-type li:first-child {
        width: 100% !important;
        margin: 0 !important;
    }
    #footer .footermenu ul:last-of-type li {
        display: inline-block !important;
        float: none !important;
        margin: 5px 0 !important;
    }
    .footermenu ul li {
        display: none !important;
        width: 100%;
        text-align: center;
        float: none;
    }
    .footerbottomlinks div.floated_right {
        float: none !important;
        width: 60%;
        margin: 0 auto;
        display: table !Important;
        text-align: center;
    }
    .footerbottomlinks > div:first-of-type {
        display: none !important;
    }
    .footerbottomlinks div.floated_right a,
    .footerbottomlinks div.floated_right b {
        display: inline-block;
        float: none !important;
        line-height: 20px !important;
    }
    /*** inner pages ****/
    .breadcrumbs {
        display: none;
    }
    .top-inner-container .submenu {
        margin-top: 0 !important;
        padding: 0 20px;
    }
    .top-inner-container .submenu ul {
        border: 0 !important;
        margin-top: 10px;
    }
    .top-inner-container .submenu ul li:after {
        float: right !important;
    }
    .col-lg-6.page_banner_img {
        display: none;
    }
    .pattern_gradient {
        position: relative;
        display: table;
        padding: 30px;
    }
    .pattern_gradient .container {
        display: table-row;
        height: 100%;
        width: 100%;
    }
    .col-lg-6.page_banner_title {
        width: 100%;
        display: block;
        position: relative !important;
        vertical-align: middle;
        padding: 0 20px;
    }
    .col-lg-6.page_banner_title img {
        width: 100%;
    }
    .listcontainer {
        margin-bottom: 40px;
        border-bottom: 1px #eee solid;
        padding-bottom: 40px !important;
    }
    .about-tables {
        border: 0;
    }
    .listcontainer.social_links {
        min-height: 300px;
    }
    .puplication_img img {
        max-height: 135px;
        float: left;
    }
    .mystc-block-1,
    .mystc-block-2 {
        width: 100% !important;
    }
    .mystc-block-2 .circle.lightpurplebg {
        width: 90px;
        height: 90px;
        line-height: 100px;
        margin: 0 auto 10px;
    }
    span.x .mystc-block ul li {
        padding: 5px !important;
    }
    .col-lg-4.multimedia_img {
        overflow: hidden;
    }
    .graybg.bus_packages {
        margin-bottom: 10px;
    }
    .tab-content.tabdevices {
        display: inline-block;
        width: 100%;
    }
    #plans_tabs li a,
    #myTabs li a,
    #devices_tabs li a,
    #solution_tabs li a {
        border-bottom: 0 !important;
    }
    .tabsdevices.margin-separator {
        position: relative;
        margin-bottom: 50px !important;
    }
    .owl-carousel-1col {
        display: none !important;
    }
    .col-lg-6.page_banner_title h1 {
        line-height: 40px;
    }
    .col-lg-4 .blakleoverly {
        margin-bottom: 10px;
    }
    .contact_search,
    .curved-search.large input[type="search"] {
        width: 100% !important;
    }
    .round_box {
        margin-bottom: 10px;
        height: auto;
        display: table;
        width: 100%;
        text-align: center;
    }
    .round_box .learnmore {
        margin: 0 auto !important;
        float: none !important;
    }
    .social_links .col-lg-2 {
        width: 50%;
        float: left;
    }
    .faqs-box {
        width: 96%;
        margin: 0 auto 10px !important;
    }
    .iconslist li {
        width: 100% !important;
    }
    .block-container .col-2,
    .services_filter h2,
    .pattern-search .container .curved-search,
    iframe {
        width: 100% !important;
    }
    .GITheWall {
        padding: 0 10px;
    }
    .GITheWall ul li {
        height:auto; 
        width: 100% !important;
        
    }
.GITheWall ul li span.inset {
    position: relative;
}

    .qitaf_other .learnmore {
        position: relative;
        left: auto !important;
        bottom: auto !important;
    }
    .bordered .listcontainer {
        border-left: 0 !important;
    }
    .bootstrap-select > .dropdown-toggle,
    .bootstrap-select > .dropdown-toggle:before {
        font-size: 14px;
    }
    .bootstrap-select > .dropdown-toggle {
        padding: 15px 40px 10px 45px;
    }
    .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
        width: 100% !important;
    }
    .bootstrap-select.btn-group .dropdown-toggle .caret {
        border-width: 7px !important;
    }
    .intb p {
        margin-bottom: 10px;
    }
    #roaming .iconslist {
        width: 100% !important;
    }
    #roaming .iconslist li {
        width: 100% !important;
    }
    .bottom-margin-50 {
        padding: 0 !important;
    }
    .services_filter {
        padding: 0 0px 20px !important;
    }
    .services_filter li {
        margin-bottom: 10px !important;
    }
    .heading-margin {
        margin: 0 !important;
    }
    .pattern_gradient.roaming-header {
        height: auto !important;
    }
    .tableoverflow {
        overflow: scroll;
    }
    .roaming-header .page_banner_title {
        position: relative !important;
    }
    .roaming-services-list ul {
        height: auto !important;
        margin-bottom: 70px !important;
    }
    .devices_list_cont.bordered .listcontainer {
        width: 100%;
        border-right: 0;
        border-bottom: 1px #eee solid;
    }
    .devices_list_cont.bordered .listcontainer .device_details .learnmore {
        opacity: 1 !important;
    }
    #roaming table,
    .specs {
        width: 100%;
    }
    #countrylist {
        display: inline-block;
        overflow: hidden;
    }
    .table-s1,
    .table-s2,
    .table-s3,
    .table-s4 {
        overflow: scroll;
        position: relative;
    }
    .roaming-services-list {
        padding: 0 10px;
    }
    .roaming-services-list ul li {
        width: 100%;
        margin: 10px 0 40px !important;
    }
    .scrolltable-icon {
        padding: 15px 0;
        text-align: center;
    }
    .scrolltable-icon i {
        margin: 0 2px;
    }
    .submenu span {
        max-width: 100%;
    }
    .showcase {
        width: 100%;
        margin-top: 10px;
    }
    #stc-showcase {
        height: 460px !important;
    }
    .showcase .tp-bgimg,
    .gyges .tp-thumb-image {
        background-size: contain !important;
    }
    .tp-thumbs,
    .tp-thumb-mask,
    .tp-thumbs-inner-wrapper,
    .tp-thumb-mask {
        width: 100% !important;
        max-width: 100% !important;
        height: 100px !important;
        max-height: 100px !important;
    }
    .tp-thumbs-inner-wrapper,
    .tp-thumbs {
        top: auto !important;
        bottom: 0;
        width: 98% !important;
    }
    .gyges .tp-thumb {
        top: 0 !important;
        width: 25% !important;
        position: relative !important;
        float: left;
    }
    .showcase .rev_slider_wrapper {
        min-height: 460px !important;
        height: 500px !important;
    }
    .showcase .tp-thumb-mask {
        min-height: 100px !important;
        height: 100px !important;
    }
    .showcase .tp-bgimg {
        height: 75% !important;
    }
    .gyges .tp-thumb {
        border-top: 0 !important;
        border-left: 1px #eee solid !important;
    }
    .gyges .tp-thumb:first-child {
        border: 0 !important;
    }
    .productdetails,
    .plans_ditaels_container {
        width: 100% !important;
        padding: 0 20px;
    }
    .width_60,
    .width_40,
    .plans_table_ditaels ul {
        width: 100% !important;
        margin: 0 0 10px !important;
        height: auto;
    }
    .width_60 .learnmore {
        margin: 0 auto 40px;
    }
    .avilable-colors,
    .avilable-storage {
        float: none;
        margin: 0 auto 10px;
        display: table;
    }
    .GI_TW_expander-inner center img {width:100%; height:auto;}
    img.mobile {
        display: block !important;
    }
    img.desktop {
        display: none !important;
    }
    .top-menu > ul > li:nth-child(2) > a {
        pointer-events: none;
    }
        .language i.fa.fa-globe {
        right: auto !important;
        margin: 14px 0 0 !important;
        position: relative !important;
        float: left;
        display: none;
    }

    .owl-slider .container .desc.right{
        right: 0 !important;
       /* margin-top: 0px;
        padding:0 20px;
        top:0 !important;*/
    }
    .owl-controls {
        margin-top: 30px;
    }
    .owl-slider .container .desc h1 {
        line-height: 30px !important;
        font-size: 28px !important;
    }
    .slider-links {
        margin-top: 10px !important;
        position: relative;
    }
    .scrolltable {
        width: 100%;
        overflow: scroll;
        position: relative;
    }
    .scrolltable table {
        position: absolute;
        top: 0;
        left: 0;
    }
    .owl-slider .container .desc.left {
        left: 0;
       /* margin-top: -20px;*/
    }
.owl-slider .container .desc.right {
        right: 0;
       /* margin-top: -20px;*/
    }
    .owl-slider .owl-item {
        /*padding-bottom: 50px;*/
    }
    header#header {
        position: fixed;
        width: 100%;
        background: #fff;
        top: 0;
    }
    #wrapper {
        padding-top: 98px;
    }
    nav#mainnav {
        overflow: auto;
        height: 75vh !important;
    }
    .GITheWall {
        overflow: visible;
        z-index: 9;
    }
    .owl-item {border:0;}
    .feedback {
        transform: translate3d(0px, 90%, 0px) !important;
        right: 0;
        display: none !important;
    }
    .feedback .feedback-container {
        display: none;
    }
  .owl-slider .owl-controls {
        display: table;
        width: 100%;
        text-align: center;
        bottom: -20px;
        position: relative;
    }
    .owl-carousel .owl-item img {
        height: auto;
    }
    .owl-slider .container {
        /*top:250px;*/
    }
	.gi-img-container {height:auto !important;}
/*New Postpaid packages design */
.new_packages .pattern_gradient{display:none;}
.package_cont_new {display: inline-block;width: 34%;vertical-align: top;margin: 0 5px 4px;}
.package_cont_new img{width:100%;height: auto;}
.package_bg .package_keyfeatures{
   vertical-align: top;
   display: inline-block;
   width: 61%;
   padding-bottom: 0;
   margin-top: 38px;
   text-align: initial;
}
    header#header .top-links .top-buttons .language {
    width: 64px;
    overflow: hidden;
}

.new_packages .circle{
   background: transparent;
   text-shadow: none !important;
}
.new_packages .circle i{
   font-size: 21px;
   color: #7a3f8a;
   margin-top: 3px;
}
.new_packages .circle i:before{/* content:'' */}
.package_bg .buttons_holder {display:block;}
.package_details ul li {padding: 15px 10px;}
.new_packages .package_details p.maintitle {margin-bottom: 6px;}



.block-container {
		width:100%;
		display:inline-block;
		overflow:hidden;
	}
.showcase,
.tp-carousel-wrapper,
.tp-revslider-slidesli,
.tp-revslider-mainul  {
    width:100% !important;
}
.filter-border li {
    background-color:transparent;
    height: 37px !important;
}
.filter-border li a {
    color:#703081 !important;
}
.col-lg-6,
.col-md-6,
.GITheWall,
.col-2  {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

div#wrapper {
    overflow: hidden;
}

#content {
    padding-left: 20px;
    padding-right: 20px;
}
.bottom-margin-50 {
    margin-bottom:20px;
}
.parallax-wrapper {
    margin-left:-20px;
    margin-right:-20px;
    width:auto;
}
.parallax {
    padding:40px;
    background-position:center center !important;
}
.parallax .bigtitle {
    font-size:35px;
}
.parallax h2 {
    font-size:18px !important;
}
.margin-separator {
    margin-bottom: 0;
}
.owl-carousel-4col span.circle.pinkbg.price {
    left: 80px;
}
.GITheWall > ul > li {
    margin-left:0;
    margin-right:0;
}

#myTabs.filter-border li.active a,
#myTabs.filter-border li:hover a {
    border-bottom: 7px #703081 solid !important
}

span.x {
    min-height: 300px !important;
}

html[lang="ar-SA"] .slider,
html[lang="en-SA"] .owl-slider {
    margin-left: -20px;
    margin-right: -20px;
    overflow: hidden;
}
html[lang="en-SA"] .owl-slider {
    width:auto !important
}
.owl-slider .owl-dots {
    margin-top: -70px !important;
    z-index: 9991;
    position: absolute;
    margin: auto;
    text-align: center;
    width: 100%;
}
.owl-slider .owl-controls {
    display:block;
}

.desc {
    padding-left: 20px;
    padding-right: 20px;
}
.GI_TW_expander .GI_TW_expander-inner {
    width:100% !important;
}

html[lang="en-SA"] .GI_TW_expander .GI_TW_arrow.GI_TW_next {right:5px !important;}
html[lang="en-SA"] .GI_TW_expander .GI_TW_arrow.GI_TW_prev {left:5px !important;}

html[lang="ar-SA"] .GI_TW_expander .GI_TW_arrow.GI_TW_next {right:auto !important; left:5px;}
html[lang="ar-SA"] .GI_TW_expander .GI_TW_arrow.GI_TW_prev {left:auto !important; right:5px;} 

.floated_right.mystc-block-2 > span {
    display: none;
}

/*sawa  main page slides */
.r__blocks ul.main_list li {
    border: none !important;
    width: 50% !important;
    height: 100px !important;
    margin: 0 !important;
    text-align:center;
}
.r__blocks ul.main_list li span {
    padding:0 10px !important;
}
.r__blocks ul.main_list li span img {
    width:100%;
}


.sawa_packages .title-panel {display:none}
.sawa_packages .maintitle {display:block}

#fiber_jawwy .r__blocks ul.main_list li {
    
    height: 250px !important;
   
}
.features .col-md-4 {
    width: 100%;
    margin-bottom: 10px;
}

}


}

