nav#mainnav {
	float:right;
	width:auto;
	height:60px;
}
nav#mainnav ul {
	margin:0;
	padding:0;
	float:left;
}
nav#mainnav ul li {
	float:left;
	list-style:none;
	line-height:60px;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}
nav#mainnav ul li a {
	padding:0 30px;
	color:#703081;
	font-family: 'Conv_STC-Regular';
	display:block;
	font-size:18px;
	height:auto;
	position:relative;
	text-transform:none;
	-webkit-transition: background 300ms ease-in-out;
	-o-transition: background 300ms ease-in-out;
	transition: background 300ms ease-in-out;
}
nav#mainnav ul li a span {
	line-height:normal;
}
@media(min-width: 768px) {
	nav#mainnav ul li:hover a {
		text-decoration:none;
		background:#eaeaea;
	}
	nav#mainnav .sf-menu li:hover > ul,
	nav#mainnav .sf-menu li.sfHover > ul {
		display: block;
	}
}
nav#mainnav ul li div.sf-mega {
	width: 100%;
	min-width:200px;
	height:auto;
	position:absolute;
	left: 0px;
	margin-top:0px;
	background:#eaeaea;
	padding:25px;
	display:none;
        min-height:200px
}
nav#mainnav ul li div.sf-mega .container {display:table;}
nav#mainnav ul li div.sf-mega:after {
	box-shadow: 14px 10px 20px 2px rgba(0,0,0,0.3);
	position:absolute;
	content:'';
	width: 98%;
	height:200px;
	bottom: 0px;
	z-index:-1;
}
nav#mainnav ul li ul.submenu li {
	float:none;
	line-height:normal;
}

nav#mainnav ul li div.sf-mega ul {
	width:auto !important;
	display:block !important;
	position:relative;
	border-bottom:0;
	margin-left:0 !important;
	padding-left:0;
	padding-bottom:0;
}
nav#mainnav ul li div.sf-mega {
	margin-left:0 !important;
}
nav#mainnav .sf-menu ul ul,
nav#mainnav .sf-menu ul ul ul {
	top: 0;
	left: 100% !important;
	margin-left:20px !important;
}
nav#mainnav .sf-mega ul {
	list-style-type: auto;
	margin: 0;
	padding: 0px 30px 20px;
	min-width:100% !important;
}
nav#mainnav .sf-mega ul li:first-child a {
	font-size: 21px;
	color: #703081;
	font-family: 'Conv_STC-Regular';
	margin-bottom:0;
	padding-bottom:0;
}
nav#mainnav .sf-mega ul li a {
	color: #703081;
	color:rgba(112,48,129,0.6);
	font-size:16px;
	text-transform:none !important;
	font-family:'Conv_STC-Light';
	padding:0 0 10px;
}

nav#mainnav .sf-mega-section {
	float: left;
	width:100%;
}
nav#mainnav .col-2 .sf-mega-section {
	width:50%;
}
nav#mainnav .col-3 .sf-mega-section {
	width:33.33%;
}
nav#mainnav .col-4 .sf-mega-section {
	width:20%;
}

/*** arrows (for all except IE7) **/
.sf-arrows .sf-with-ul {
	padding-right: 2.5em;
	*padding-right: 1em; /* no CSS arrows for IE7 (lack pseudo-elements) */
}
.sf-with-ul {padding-right:42px !important;}
/* styling for both css and generated arrows */
.sf-arrows .sf-with-ul:after, .sf-arrows .submenu .sf-with-ul:after {
	content: '';
	position: absolute;
	top: 50%;
	right: 1em;
	margin-top: -3px;
	height: 0;
	width: 0;
	border: 5px solid transparent;
	border-top-color: #703081;
}
.sf-arrows .submenu .sf-with-ul:after {
	border-left-color: #703081; /* edit this to suit design (no rgba in IE8) */
	border-top-color: transparent !important; /* edit this to suit design (no rgba in IE8) */
	margin-right: -10px;
	margin-top:-5px;
}
.sf-arrows > li > .sf-with-ul:focus:after,
.sf-arrows > li:hover > .sf-with-ul:after,
.sf-arrows > .sfHover > .sf-with-ul:after {
	border-top-color: #397499; /* IE8 fallback colour */
}
.sf-arrows ul .sf-with-ul:after {
	margin-top: -3px;
	margin-right: 4px;
	border-color: transparent;
	border-top-color: #703081;
}
.sf-arrows ul li > .sf-with-ul:focus:after,
.sf-arrows ul li:hover > .sf-with-ul:after,
.sf-arrows ul .sfHover > .sf-with-ul:after {
	border-top-color: #703081;
}
.single {float:left;}
.single .sf-mega-section {
	width:100% !important;
	border-top:1px #d7d7d7 solid;
	border-bottom:1px #d7d7d7 solid;
	padding:10px 0;
}
.single .sf-mega-section:first-child {
	border-bottom:0px #d7d7d7 solid !important;
}
.menu-offers {text-align:center; padding-left:40px;}
.m-offer {margin-top:40px;}
.menu-offers .m-offer .price {
	text-align:center;
	top:10px !important;
	right:5px;
}
.m-offer img {
	height:170px;
	width:auto;
}
.menu-offer-desc {
	font-size:18px;
	line-height:18px !important;
	margin-top:10px;
	font-family: 'Conv_STC-Light';
}
.search-icon {
	width:60px;
	height:60px;
	text-align:center;
	line-height:60px;
	font-size:18px;
	color:#703081;
	border-left:1px #d7d7d7 solid;
	display:block;
	position:relative;
	cursor: pointer;
}
.search-icon:hover input, .search-icon:hover:after {
	display:block;
}
.search-icon:hover i {
	color:#d8427d;
}


.search-icon input {
	width:350px;
	display: none;
	float:left;
	height:50px;
	line-height:50px;
	border:none;
	padding:0 20px;
	font-size:16px;
	color:#703081;
	font-family: 'Conv_STC-Light';
	outline:none;
	position:absolute;
	top:60px;
	left: 0;
	background: #fff;
	-webkit-box-shadow: inset 0 3px 4px -3px rgba(0,0,0,0.3);
	-moz-box-shadow:inset 0 3px 4px -3px rgba(0,0,0,0.3);
	box-shadow:inset 0 3px 4px -3px rgba(0,0,0,0.3);
	border: 1px #d7d7d7 solid;
	border-top: 2px #703081 solid;
}

.search-icon:after {
	width:0;
	height:0;
	border-width:10px;
	border-style: solid;
	border-color:transparent;
	border-bottom-color: #eaeaea;
	content: '';
	left:50%;
	top: 40px;
	position: absolute;
	display:none;
	margin-left:-10px;
}

.search-icon i {
	width:60px;
	height:60px;
	line-height:56px;
}

/*Wholesales custom menu classes*/
.wholesalenav .sf-mega-section{width: 100% !important;}
.wholesalenav .sf-mega-section ul.submenu li{display: inline-block;width: 25%;vertical-align: top;}
.wholesalenav .sf-mega-section ul.submenu li:first-child a{font-size: inherit !important;color: rgba(112,48,129,0.6)!important;font-family: 'Conv_STC-Light'!important;}


nav#mainnav .col-auto .sf-mega-section:first-of-type {
    padding: 0;
}
nav#mainnav .col-auto .sf-mega-section {
	width: auto;
	padding: 0 70px 0 0;
}
