@font-face {
    font-family: 'stc-services';
    src:
        url('../wps/wcm/connect/arabic/css/resources/3/b/3b05cf26-769e-47b7-8136-baaf385defbe/stc-services.html') format('truetype'),
        url('../wps/wcm/connect/arabic/css/resources/c/4/c4b411b1-cc07-4b79-a516-99adca94bf8c/stc-services.html') format('woff'),
        url('../wps/wcm/connect/arabic/css/resources/7/c/7cdb8012-7628-4e9f-ae0b-762e53ae7894/stc-services.html') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-services-"], [class*=" icon-services-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'stc-services' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Enable Ligatures ================ */
    letter-spacing: 0;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    font-feature-settings: "liga";
    -webkit-font-variant-ligatures: discretionary-ligatures;
    font-variant-ligatures: discretionary-ligatures;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-services-calls:before {
    content: "\61";
}
.icon-services-905:before {
    content: "\62";
}
.icon-services-alhatif:before {
    content: "\63";
}
.icon-services-aljawal_kaspersky:before {
    content: "\64";
}
.icon-services-aljawal_tv:before {
    content: "\65";
}
.icon-services-aljawal:before {
    content: "\66";
}
.icon-services-arsl:before {
    content: "\67";
}
.icon-services-ask_me:before {
    content: "\68";
}
.icon-services-bill_reminder:before {
    content: "\69";
}
.icon-services-bill_split:before {
    content: "\6a";
}
.icon-services-blackberry:before {
    content: "\6b";
}
.icon-services-budget_control:before {
    content: "\6c";
}
.icon-services-call_barring:before {
    content: "\6d";
}
.icon-services-call_completion:before {
    content: "\6e";
}
.icon-services-call_fav:before {
    content: "\6f";
}
.icon-services-call_forwarding:before {
    content: "\70";
}
.icon-services-call_me:before {
    content: "\71";
}
.icon-services-call_waiting:before {
    content: "\e911";
}
.icon-services-caller_id:before {
    content: "\73";
}
.icon-services-collect_call:before {
    content: "\74";
}
.icon-services-conference_call:before {
    content: "\75";
}
.icon-services-controls:before {
    content: "\76";
}
.icon-services-credit_reminder:before {
    content: "\e916";
}
.icon-services-do_not_disturb:before {
    content: "\78";
}
.icon-services-easy_net:before {
    content: "\79";
}
.icon-services-fav_country:before {
    content: "\7a";
}
.icon-services-friends_and_fam:before {
    content: "\41";
}
.icon-services-grey_generic:before {
    content: "\42";
}
.icon-services-groupy:before {
    content: "\43";
}
.icon-services-hotline:before {
    content: "\44";
}
.icon-services-incoming_call_bar:before {
    content: "\45";
}
.icon-services-interactive_sms:before {
    content: "\46";
}
.icon-services-international_access:before {
    content: "\47";
}
.icon-services-international_calls:before {
    content: "\48";
}
.icon-services-internet_control:before {
    content: "\49";
}
.icon-services-jawaly:before {
    content: "\4a";
}
.icon-services-koora:before {
    content: "\4b";
}
.icon-services-limited_inter_calls:before {
    content: "\4c";
}
.icon-services-location:before {
    content: "\4d";
}
.icon-services-m3com:before {
    content: "\4e";
}
.icon-services-maharba:before {
    content: "\4f";
}
.icon-services-main_services_package:before {
    content: "\50";
}
.icon-services-mawjood_extras:before {
    content: "\51";
}
.icon-services-mawjood_services:before {
    content: "\52";
}
.icon-services-mms:before {
    content: "\53";
}
.icon-services-multi_sim:before {
    content: "\54";
}
.icon-services-my_backup:before {
    content: "\55";
}
.icon-services-naqa_net:before {
    content: "\56";
}
.icon-services-national_calls:before {
    content: "\57";
}
.icon-services-outgoing_call_bar:before {
    content: "\58";
}
.icon-services-public_tel:before {
    content: "\59";
}
.icon-services-reminder:before {
    content: "\5a";
}
.icon-services-roaming:before {
    content: "\31";
}
.icon-services-sada_video:before {
    content: "\32";
}
.icon-services-sada:before {
    content: "\33";
}
.icon-services-same3ni:before {
    content: "\34";
}
.icon-services-sawa_nonstop:before {
    content: "\35";
}
.icon-services-shabik:before {
    content: "\36";
}
.icon-services-smart_sms:before {
    content: "\37";
}
.icon-services-sms:before {
    content: "\38";
}
.icon-services-special_number:before {
    content: "\39";
}
.icon-services-stolen_handset:before {
    content: "\21";
}
.icon-services-summer_offers:before {
    content: "\40";
}
.icon-services-telegraph:before {
    content: "\23";
}
.icon-services-temp_service:before {
    content: "\24";
}
.icon-services-transfer:before {
    content: "\25";
}
.icon-services-travel_guide:before {
    content: "\5e";
}
.icon-services-unified_roaming:before {
    content: "\26";
}
.icon-services-upgrade_3g:before {
    content: "\2a";
}
.icon-services-vehicle_tracking:before {
    content: "\28";
}
.icon-services-vertical:before {
    content: "\29";
}
.icon-services-video_call:before {
    content: "\2d";
}
.icon-services-vitimin:before {
    content: "\30";
}
.icon-services-voice_mail:before {
    content: "\5f";
}
.icon-services-voice_sms:before {
    content: "\2c";
}
.icon-services-wagti:before {
    content: "\2e";
}
.icon-services-wifi:before {
    content: "\2f";
}

